<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Button</title>
</head>
<body>
    <section th:fragment="addButton" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3" sec:authorize="hasAuthority('ADMIN')">
                    <a href="#" class="btn btn-info btn-block" data-toggle="modal" data-target="#agregarCliente">
                        <i class="fas fa-plus"></i> [[#{index.crear-cliente}]]
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>