<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Agregar Cliente</title>
</head>
<body>
    <section th:fragment="addClient">
        <div id="agregarCliente" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" th:text="#{index.crear-cliente}">Agregar Cliente</h5>
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/save}" method="post" th:object="${cliente}" class="was-validated">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nombre" th:text="#{index.tabla-nombre}">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="apellido" th:text="#{index.tabla-apellido}">Apellido</label>
                                <input type="text" class="form-control" name="apellido" id="apellido" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="email" th:text="#{index.tabla-email}">Email</label>
                                <input type="email" class="form-control" name="email" id="email" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="telefono" th:text="#{index.tabla-telefono}">Telefono</label>
                                <input type="tel" class="form-control" name="telefono" id="telefono"/>
                            </div>
                            <div class="form-group">
                                <label for="saldo" th:text="#{index.tabla-saldo}">Saldo</label>
                                <input type="number" class="form-control" name="saldo" id="saldo" required="true" step="any"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" name="save" type="submit" th:text="#{modify.boton-save}">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>